:root {
    --font-family: sans-serif !important;
    --text-color-link-menu: #343a40;
    --text-color-white: #fff;
    --background-head-top: #d70018;
    --background-head-white: #fff;
    --background-head-link-hover: #000;
}

body {
    font-family: var(--font-family);
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;



    .header .header-right a {
        color: var(--text-color-link-menu);
        padding: 8px;
        border-radius: 100px;
        transition: background .2s ease-in-out;
        /* display: block;
    width: 100%; */

    }

    .navigation-btn a:hover {
        background: rgba(0, 0, 0, 0.09);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .navigation-menu ul li {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 100px;
        ;
    }



    .navigation-menu ul li::before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;

        width: 0;
        height: 2px;
        background: var(--background-head-link-hover);
        transition: width .2s ease-in-out;
    }

    .navigation-menu ul li:hover::before {
        width: 100%;
    }

    .navigation-menu ul.sub-menu {
        position: absolute;
        top: 100%;
        background: var(--background-head-white);
        border-radius: 10px;
        min-width: 230px;
        max-width: 768px;
        display: none;
    }

    .navigation-menu ul li:hover ul.sub-menu {
        display: block;
    }

    .navigation-menu ul.sub-menu li a {
        border-radius: unset;
        padding: 16px;
        position: relative;
        width: unset;
    }

    .navigation-menu ul.sub-menu li a span {
        position: absolute;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        color: #000;
        background-color: yellow;
        top: 0;
        right: 0;
        margin-top: -12px;
        padding: 4px 8px;
        border-radius: 100px;
        font-size: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: -24px;
    }